In [16]:
from sklearn import svm,metrics
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import matplotlib
import numpy as np
import pandas as pd
import random

matplotlib.rcParams['font.family'] = 'Malgun Gothic'
matplotlib.rcParams['font.size'] = 10
matplotlib.rcParams['axes.unicode_minus'] = False

In [17]:
df = pd.read_csv('../z20_data/02.iris.csv')
df.head(3)

   SepalLength  SepalWidth  PetalLength  PetalWidth         Name
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa

In [18]:
df.info()
df.columns
df[['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth']]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  150 non-null    float64
 1   SepalWidth   150 non-null    float64
 2   PetalLength  150 non-null    float64
 3   PetalWidth   150 non-null    float64
 4   Name         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

     SepalLength  SepalWidth  PetalLength  PetalWidth
0            5.1         3.5          1.4         0.2
1            4.9         3.0          1.4         0.2
2            4.7         3.2          1.3         0.2
3            4.6         3.1          1.5         0.2
4            5.0         3.6          1.4         0.2
..           ...         ...          ...         ...
145          6.7         3.0          5.2         2.3
146          6.3         2.5          5.0         1.9
147          6.5         3.0          5.2         2.0
148          6.2         3.4          5.4         2.3
149          5.9         3.0          5.1         1.8

[150 rows x 4 columns]

In [19]:
df['Name'].head(5)

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Name, dtype: object

In [20]:
df.iloc[0:100]

    SepalLength  SepalWidth  PetalLength  PetalWidth             Name
0           5.1         3.5          1.4         0.2      Iris-setosa
1           4.9         3.0          1.4         0.2      Iris-setosa
2           4.7         3.2          1.3         0.2      Iris-setosa
3           4.6         3.1          1.5         0.2      Iris-setosa
4           5.0         3.6          1.4         0.2      Iris-setosa
..          ...         ...          ...         ...              ...
95          5.7         3.0          4.2         1.2  Iris-versicolor
96          5.7         2.9          4.2         1.3  Iris-versicolor
97          6.2         2.9          4.3         1.3  Iris-versicolor
98          5.1         2.5          3.0         1.1  Iris-versicolor
99          5.7         2.8          4.1         1.3  Iris-versicolor

[100 rows x 5 columns]

In [21]:
### train_input = rows 100개를 출력하시오.
### SepalLength SepalWidth  PetalLength PetalWidt
# train_input = df[['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth']].head(100)
train_input = df.iloc[:100,:-1]
### test_input = rows 50개를 출력하시오.
### SepalLength SepalWidth  PetalLength PetalWidth
# test_input = df[['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth']].head(50)
test_input = df.iloc[100:,:-1]
### train_target = rows 100개를 출력하시오.
### Name
# train_target = df['Name'].head(100)
train_target = df.iloc[:100,4]
### test_target = rows 50개를 출력하시오.
### Name
# test_target = df['Name'].head(50)
test_target = df.iloc[100:4,4]

In [22]:
np.random.seed(150)
# 배열 생성(0-149까지 150개 생성)
index = np.arange(150)
index

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149])

랜덤함수 생성 후 데이터를 가져오기

In [23]:
# 파이썬 random 함수
ran_num= [i for i  in range(150)]
random.shuffle(ran_num)



# numpy random 함수
# random code 0-149 랜덤숫자 생성
index = np.arange(150)
np.random.shuffle(index)
print(index)
print(ran_num)
# index로 df에 대입해서 가져오면 랜덤으로 데이터가 섞여서 가져올수 있음

[ 53  42 141  83  60  28  13  31  71  59   2 124 131  54 144  36  52 139
 128 114  63  91  16   8  87  76  35 117 109  88  72  84  21  43  85 137
 134  48  30  27  47  41  90  33 145  79  40  20  34  11 136 113  32 119
  78 125   3  96  82  86   6 118 111 143  69 129 140  62  99  65  97  39
  98  57  73  51  77 149  94  29 120  56   4   9  37   1  44 106 148  22
 102  66  18  24  58  89  61 115 132   0   5  10 133  70 112 146 126 107
  80 123  46 147 122  75  15  68  95  26  12 127  55 103  67 130  19  64
  74 135 110  45  23 108  38   7 121  93  81 138 116  17  49  14 104 105
  92 101 142 100  50  25]
[36, 137, 100, 69, 40, 41, 27, 145, 107, 129, 96, 17, 55, 132, 62, 144, 34, 46, 66, 32, 105, 0, 12, 67, 80, 38, 70, 86, 91, 95, 49, 15, 33, 98, 90, 114, 7, 127, 97, 104, 106, 50, 87, 79, 22, 146, 23, 71, 123, 5, 6, 135, 72, 58, 119, 110, 109, 26, 147, 4, 117, 74, 19, 48, 73, 112, 140, 84, 52, 63, 101, 64, 44, 120, 77, 138, 142, 47, 111, 10, 108, 16, 93, 75, 1, 43, 60, 76, 56, 143, 113, 121, 118, 61, 94, 133, 89, 148, 29, 141, 126, 139, 65, 8, 45, 39, 99, 25, 68, 116, 88, 57, 128, 92, 53, 51, 82, 54, 83, 37, 13, 115, 30, 24, 59, 18, 21, 103, 149, 85, 124, 20, 81, 31, 122, 14, 11, 131, 42, 35, 136, 2, 130, 3, 102, 134, 9, 78, 125, 28]

In [24]:
train_input = df.iloc[index[:100],:-1]
train_input

     SepalLength  SepalWidth  PetalLength  PetalWidth
53           5.5         2.3          4.0         1.3
42           4.4         3.2          1.3         0.2
141          6.9         3.1          5.1         2.3
83           6.0         2.7          5.1         1.6
60           5.0         2.0          3.5         1.0
..           ...         ...          ...         ...
89           5.5         2.5          4.0         1.3
61           5.9         3.0          4.2         1.5
115          6.4         3.2          5.3         2.3
132          6.4         2.8          5.6         2.2
0            5.1         3.5          1.4         0.2

[100 rows x 4 columns]

In [25]:
# 1. 데이터 전처리 - data,result데이터 분리
datas_input = df.iloc[:,:-1]
datas_target = df.iloc[:,4]
# 모든 data를 가지고, train,test 데이터 분리
# train,test데이터를 자동으로 분리해줌.
train_input,test_input,train_target,test_target= train_test_split(datas_input,datas_target)

In [26]:
# 1.데이터 전처리:train_data, test_data데이터를 수동으로 분리
# 1. 랜덤으로 데이터 추출
# train_input = df.iloc[index[:100],:-1]
# test_input = df.iloc[index[100:],:-1]
# train_target = df.iloc[index[:100],4]
# test_target = df.iloc[index[100:],4]
# 2. 데이터 학습시키기


# 3. 데이터 예측하기


# 4.정답률 구하기

In [27]:
train_input

     SepalLength  SepalWidth  PetalLength  PetalWidth
119          6.0         2.2          5.0         1.5
74           6.4         2.9          4.3         1.3
4            5.0         3.6          1.4         0.2
98           5.1         2.5          3.0         1.1
50           7.0         3.2          4.7         1.4
..           ...         ...          ...         ...
81           5.5         2.4          3.7         1.0
35           5.0         3.2          1.2         0.2
16           5.4         3.9          1.3         0.4
3            4.6         3.1          1.5         0.2
19           5.1         3.8          1.5         0.3

[112 rows x 4 columns]

In [28]:
# 2. 데이터 학습시키기 - 모델 선정 후 데이터 훈련
clf = svm.SVC()
# 데이터 훈련
clf.fit(train_input,train_target)
# 3. 데이터 예측
result = clf.predict(test_input)

# 4. 정답률 구하기
# score = metrics.accuracy_score(test_target,result)
score = clf.score(test_input, test_target)
print("정답률 : ",score)

정답률 :  0.9473684210526315

In [29]:
# 4.9, 2.9, 1.4 0.2 무슨 품종?
# 5.6 3 4.1 1.2 
# 6.5 2.8 6.7 2.2